.shop {
    padding: 50px 0;
}

.shop__item {
    max-width: 255px;
    width: 100%;
    position: relative;
}

.shop__item-img {
    width: 100%;
    display: block;
}

.shop__item-top {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.shop__item-top:hover .shop__item-menu {
    bottom: 0;
}

.shop__item-menu {
    transition: all 300ms;
    background: rgba(0, 0, 0, 0.70);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 100%;
}

.shop__item-menu-add {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #FFF;
    font-family: 'PR';
    font-size: 12px;
    font-weight: 400;
}

.shop__item-menu-icons {
    display: flex;
    gap: 23px;
}

.shop__item-bottom {
    margin-top: 43px;
}

.shop__item-bottom-title {
    color: #000;
    font-family: 'PR';
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 6px;
}

.shop__item-bottom-price {
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'PR';
    font-size: 18px;
    font-weight: 400;
}

.shop__box {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    flex-wrap: wrap;
    gap: 30px;
}

.shop__item-bottom-discount {
    color: #666;
    margin-right: 15px;
    text-decoration: line-through;
}

.out::before {
    content: 'OUT OF STOCK';
}

.sale::before {
    content: 'SALE';
}

.out::before,
.sale::before {
    background: #4B484B;
    color: #FFF;
    font-family: 'RR';
    font-size: 12px;
    font-weight: 400;
    padding: 10px 18px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 2;
}
.shop__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.shop__info-title {
    color: #000;
    font-family: 'PR';
    font-size: 50px;
    font-weight: 400;
}

.shop__info-text {
    color: #666;
    text-align: center;
    font-family: 'RR';
    font-size: 16px;
    font-weight: 400;
    max-width: 496px;
    width: 100%;
}

@media(max-width:1140px) {
    .shop__box{
        justify-content: center;
    }
}


@media (max-width:650px) {
    .shop__info-title {
        font-size: 30px;
    }
}
